@using Umbraco.Cms.Web.Common.PublishedModels;
@using TailKit.Core.Extensions;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
	Layout = null;
	
	var tailKitCssLocation = Url.Content("~/assets/tailkit.css");
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>

	<link rel="stylesheet" href="@(tailKitCssLocation)" rel="stylesheet" />
</head>
<body>
	@RenderBody()

	<p>The content id: @Model.GetContentId()</p>
</body>
</html>